html .podium {
    grid-gap: 0;
}

html .podium header {
    padding-top: 0;
}

html .podium header h1 {
    color: var(--background-1);
}

html #error {
    color: var(--mooie-text-color);
}

html .goaway, html .ball, html .logo img, html .podium footer, html .podium img {
    display: none;
}
