html body {
    --mooie-bg-color: #1F2228;
    --mooie-bg-color-hover: #171A1E;
    --mooie-text-color: #fff;
}

* {
    background-color: brown !important;
    color: blue m !important;
}

html .nieuw-bericht-container[_ngcontent-ng-c787541647] {
    background-color: var(--mooie-bg-color);
}

html .dna-tree {
    background: var(--mooie-bg-color);
}

html .dna-tree-node[_ngcontent-ng-c1169536484] {
    background-color: var(--mooie-bg-color);
    color: var(--mooie-text-color) !important;
}

html .dna-tree-selectable .dna-tree-node-wrapper:hover,html .dna-tree-selectable .dna-tree-node-selected,html .dna-tree-selectable .dna-tree-node-selected:hover {
    background: var(--mooie-bg-color-hover);
    color: var(--mooie-text-color) !important;
}

html a[_ngcontent-ng-c1169536484] {
    color: var(--mooie-text-color) !important;
}

html app-bericht-list[_ngcontent-ng-c787541647],html .folders-container[_ngcontent-ng-c787541647] {
    border-right: solid 1px var(--mooie-bg-color-hover);
}

html .header[_ngcontent-ng-c2242182318] {
    background-color: var(--mooie-bg-color);
}

html .bericht-item {
    background-color: var(--mooie-bg-color);
}

html .bericht-item:hover {
    background-color: var(--mooie-bg-color-hover) !important;
}

html .dna-checkbox+label:after {
    background-color: var(--mooie-bg-color-hover);
}

html .active {
    background-color: var(--mooie-bg-color-hover);
}