html .podium {
    grid-gap: 0;
}

html .podium header {
    padding-top: 0;
}

html #error {
    color: #fff;
}

html .godImg {
    width: 300px;
    height: 171px;
}

html .goaway, html .ball, html .logo img, html .podium footer, html .podium img {
    display: none;
}

html .getBetter {
    color: #fff;
}