html body {
    --mooie-bg-color: #ffffff;
    --mooie-bg-color-mid: #f3f3f3;
    --mooie-bg-color-hover: #cfeffd;
    --mooie-text-color: #000;

    --blue-text-color-light: #2b2b2b;

    background-color: var(--mooie-bg-color);
    --dna-primary: var(--mooie-text-color);
    --dna-secondary: transparent;
    --dna-background: transparent;
    
    --primary-background: #1f97f9; /*licht*/
    --secondary-background: #0683ea; /*donker*/
    
    --background-1: #0076ba; /*iets lichter dan licht*/
}