html body {
    --mooie-bg-color: #1F2228;
    --mooie-bg-color-hover: #171A1E;
    --mooie-text-color: #fff;

    background-color: var(--mooie-bg-color);
    --dna-primary: var(--mooie-text-color);
    --dna-secondary: transparent;
    --dna-background: transparent;
    
    --primary-background: #0E4772; /*licht*/
    --secondary-background: #023660; /*donker*/
    
    --background-1: #0065A0; /*iets lichter dan licht*/
}

html .menu-footer {
    background-color: var(--primary-background); /*licht*/
    border-top: transparent;
}

html .block {
    border: transparent;
    border: 2px solid var(--mooie-bg-color-hover);
}

html .block .content {
    background-color: var(--mooie-bg-color);
}

html .block h3 {
    color: var(--mooie-text-color);
    background-color: var(--mooie-bg-color);
    border: none;
    box-shadow: none;
}

html .block h4 {
    color: var(--mooie-text-color);
    background-color: var(--mooie-bg-color);
    border: none;
    box-shadow: none;
    background: var(--mooie-bg-color);
}

html .endlink {
    border-top: none;
    background-color: var(--mooie-bg-color);
    box-shadow: none;
    display: none;
}

html .endlink a {
    color: var(--mooie-text-color);
    display: none;
}

html .alert {
    background-color: var(--mooie-bg-color) !important;
    border-top: none;
    border-left: 3px solid var(--primary-background);
}

html .alert:hover {
    background-color: var(--mooie-bg-color-hover) !important;
}

html .alert a:hover {
    background-color: var(--mooie-bg-color-hover) !important;
}

html .alert span.nrblock {
    color: #fff;
    background-color: #0002;
}

html span.nrblock {
    margin: 2px 4px 0 0;
    color: #fff;
    background-color: #0002;
}

html .widget .list {
    border: none;
}

html .widget .list li a{
    color: var(--mooie-text-color);
}

html .widget .list li a:hover{
    background-color: var(--mooie-bg-color-hover) !important;
}

html .widget .list li {
    background-color: var(--mooie-bg-color);
    border-top: none;
}

html .widget .agenda-list li.alert span.time:before {
    color: #1680b0;
    content: "";
    margin: 0;
}

html #agendawidgetlistcontainer .les-bottom .icon-block>.text-icon.icon-only:first-of-type {
    display: none;
}

html .widget .agenda-list li.alert span.time:after {
    display: none;
}


html ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
html ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #0002;
}
   
html ::-webkit-scrollbar-thumb {
    background: var(--primary-background); 
    border-radius: 5px;
}
  
html ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-background); 
}

html #vandaag-container .grade-widget ul {
    background-color: var(--mooie-bg-color);
    border-bottom: none;
}


html div.msg-widget .msg-detail dt {
    color: var(--mooie-text-color);
}

html div.msg-widget .msg-detail dd {
    color: var(--mooie-text-color);
}

html .block .content p {
    color: var(--mooie-text-color);
}

html div.msg-widget .msg-detail h5 {
    color: var(--mooie-text-color);
    font-size: 14px;
}

html #cijfers-leerling .last-grade {
    color: #fff;
    background-color: var(--primary-background);
}

html .content-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow-x: hidden;
    border: none;
}

html #help-menu {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
}

html #menu-berichten-new {
    top: 52px;
    z-index: 10;
}

html span {
    color: var(--mooie-text-color);
}

html .k-widget {
    background-color: var(--mooie-bg-color);
}

html .sm-grid.k-grid {
    width: 50%;
}

html .k-grid-content {
    background-color: var(--mooie-bg-color);
}

html .sm-grid.k-grid .k-grid-content tr {
    background: var(--mooie-bg-color);
}

html .sm-grid.k-grid .k-grid-content tr.k-state-selected, .sm-grid.k-grid .k-grid-content tr.k-state-selected.k-state-focused, .sm-grid.k-grid .k-grid-content tr.k-state-selected .k-state-focused {
    cursor: pointer;
    background-image: none;
    background: none;
    background-color: var(--mooie-bg-color-hover);
    color: var(--mooie-text-color);
}

html .sm-grid.k-grid .k-grid-content tr:hover {
    background-color: var(--mooie-bg-color-hover);
}

html #afsprakenlijst-container .today {
    color: var(--mooie-text-color);
    background-color: var(--mooie-bg-color);
}

html .sm-grid.k-grid .k-grid-content .k-grouping-row .group-header-content {
    color: var(--mooie-text-color);
    background-color: var(--mooie-bg-color);
    font-size: 0.9rem;
}

html dl.list-dl {
    background-color: var(--mooie-bg-color);
}

html dl.list-dl dt {
    color: var(--mooie-text-color);
}

html dl.list-dl dd {
    color: var(--mooie-text-color);
}

html dl.list-dl #recurrencePatternText, dl.list-dl #huiswerk-info-text {
    padding: 8px;
    color: var(--mooie-text-color);
}

html .tabs li a {
    color: var(--mooie-text-color);
}

html .k-calendar .k-header {
    background-color: var(--mooie-bg-color);
}

html .k-content, .k-editable-area, .k-panelbar>li.k-item, .k-panel>li.k-item, .k-tiles {
    background-color: var(--mooie-bg-color);
}

html .k-calendar td.range-select {
    background-color: var(--primary-background) !important;
    border-top: none;
    border-bottom: none;
}

html .k-calendar tbody .k-other-month {
    background-color: var(--mooie-text-color);
    background: none;
    opacity: 0.3;
}

html .k-calendar thead th {
    background-color: var(--mooie-bg-color);
    color: var(--mooie-text-color);
}

html .block .content form {
    background-color: var(--mooie-bg-color);
}

html form label {
    color: var(--mooie-text-color);
}

html .k-dropdown .k-dropdown-wrap.k-state-default {
    background: none;
    background-color: var(--mooie-bg-color);
    background-position: 50% 50%;
    border: none;
    color: var(--mooie-text-color);
}

html .k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
    color: var(--mooie-text-color);
}

html form .radio input[type=radio]:checked~label, fieldset .radio input[type=radio]:checked~label {
    background-color: var(--mooie-bg-color);
    color: var(--mooie-text-color);
}

html form .radio input[type=radio]~label, fieldset .radio input[type=radio]~label {
    border: none;
    background-color: var(--mooie-bg-color);
}

html div.loading-overlay {
    background: var(--mooie-bg-color);
}

html .arrow-list .unread a:after {
    border-color: transparent transparent transparent var(--mooie-text-color);
    border-color: rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0) var(--mooie-text-color);
}

html .msg-list .unread .from {
    color: var(--mooie-text-color);
    font-weight: normal;
}

html .msg-list li.alert.unread {
    border-left: 3px solid var(--primary-background);
}

html .k-dropdown {
    border-radius: 16px;
}

html .k-calendar .k-header .k-nav-fast {
    color: var(--mooie-text-color);
}

html .k-calendar .k-header .k-state-hover {
    background-image: none !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
}

html .k-calendar .k-content tbody td.k-state-hover{
    background: var(--mooie-bg-color-hover) !important;
    border-color: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

html .k-calendar .k-content tbody td.k-state-hover a {
    color: var(--mooie-text-color) !important;
    background-image: none;
    background: var(--mooie-bg-color-hover) !important;
}

html .widget .list li.no-data:hover, .widget .list li.no-data a:hover {
    background-color: var(--mooie-bg-color-hover);
}

html #vandaag-container .droppable {
    height: 24px;
    margin: 8px 8px 0 0;
    border: 1px dotted var(--mooie-text-color);
    background-color: #0000;
    color: var(--mooie-text-color);
}

html .widget li {
    border-bottom: none;
    background-color: var(--mooie-bg-color);
}

html .projects li:hover {
    background-color: var(--mooie-bg-color-hover);
    outline: none;
    cursor: pointer;
}

html #vandaag-container div.recyclebin {
    border-top: 1px solid var(--mooie-bg-color-hover);
}

html aside .block .content {
    background: var(--mooie-bg-color);
}

html #vandaag-container div.recyclebin span.icon-recyclebin:before {
    color: #fff;
    font-size: 30px;
}

html #vandaag-container div.recyclebin.candelete.drag-over {
    background-color: var(--mooie-bg-color-hover);
}

html #vandaag-container div.recyclebin.candelete.drag-over span.icon-recyclebin:before {
    color: var(--mooie-text-color) !important;
    font-size: 30px !important;
}

html #vandaag-container .droppable.drag-over {
    background-color: var(--mooie-bg-color-hover);
    border-color: var(--mooie-bg-color-hover);
    color: var(--mooie-bg-color-hover);
    border: 1px solid var(--mooie-text-color);
}

html .k-dropdown .k-dropdown-wrap.k-state-hover {
    background-color: var(--mooie-bg-color) !important;
}

html .k-dropdown .k-state-hover .k-input {
    color: var(--mooie-text-color);
}

html .k-dropdown-wrap.k-state-active {
    background-color: var(--mooie-bg-color);
}

html .profile-welcome h1, html .profile-welcome p {
    color: var(--mooie-text-color);
}

html :host {
    background-color: var(--mooie-bg-color);
}

html .afsprakenlijst-container .main>.content-container {
    background-color: var(--mooie-bg-color);
}

/* html #idWeergave .block {
    display: none;
} */

html .agenda-lesdashboard aside .agenda-list li a.current {
    background-color: var(--mooie-bg-color-hover);
}

html .block {
    border: none;
    background-color: var(--mooie-bg-color);
}

html table.table-grid-layout th {
    border: none;
    border-top: none;
    border-bottom-color: transparent;
    background: var(--mooie-bg-color-hover);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--mooie-text-color);
}

html .kwt-widget tr.disabled td {
    font-style: italic;
    color: var(--mooie-text-color);
    background-color: var(--mooie-bg-color);
}

html table.table-grid-layout>tbody>tr.selected::after {
    display: none;
}

html .widget.wide.uitwerking {
    display: none;
}

html .widget.small.ng-scope {
    display: none;
}

html .agenda-lesdashboard .lesvak-prev-next .content-auto span.icon-up-arrow.next { 
    border-left: none;
}

html .agenda-lesdashboard .lesvak-prev-next .content-auto span.icon-up-arrow.next:hover { 
    background-color: var(--mooie-bg-color-hover);
}

html .agenda-lesdashboard .lesvak-prev-next .content-auto span.icon-up-arrow.prev {
    border-right: none;
}

html .agenda-lesdashboard .lesvak-prev-next .content-auto span.icon-up-arrow.prev:hover {
    background-color: var(--mooie-bg-color-hover);
}

html .wysiwyg table.k-editor .k-editor-toolbar .k-button-group a {
    background-color: var(--mooie-bg-color);
    border-right: 1px solid var(--mooie-bg-color-hover);
}

html iframe.k-content body {
    background-color: var(--mooie-bg-color);
    color: var(--mooie-text-color);
}

html .block h3 span.icon-up-arrow {
    display: none;
}
