html body {
    --mooie-bg-color: #1F2228;
    --mooie-bg-color-mid: #191C21;
    --mooie-bg-color-hover: #171A1E;
    --mooie-text-color: #fff;
    --mooie-text-color-white: #fff;

    --blue-text-color-light: #a2c5e5;

    background-color: var(--mooie-bg-color);
    --dna-primary: var(--mooie-text-color);
    --dna-secondary: transparent;
    --dna-background: transparent;
    
    --primary-background: #0E4772; /*licht*/
    --secondary-background: #023660; /*donker*/
    
    --background-1: #0065A0; /*iets lichter dan licht*/
}

html ::selection {
    background-color: #7f7f7f3f;
}

html .content-container {
    border: none;
} 

/*! Scroll bar */

html ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
html ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #0002;
}
   
html ::-webkit-scrollbar-thumb {
    background: var(--primary-background); 
    border-radius: 5px;
}
  
html ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-background); 
}

/*! Nav bar */

html body > div.container > div.menu-host.loading > nav > div.menu-footer { /* Inklappen <a> background */
    background-color: var(--primary-background);
    border-top: transparent;
}

html body > div.container > div.menu-host.loading > nav > div.menu-container > ul > li > a.customButton:hover {
    background-color: var(--secondary-background);
}

html body > div.container > div.menu-host.loading > nav > div.menu-container > ul > li > .customButtonClicked {
    background-color: var(--secondary-background);
}

html body > div.container > div.menu-host.loading > nav > div.menu-container > ul > li > .nonCustomButtonNotClicked {
    background-color: var(--primary-background) !important;
}

html body > div.container > div.menu-host.loading > nav > div.menu-container > ul > li > .nonCustomButtonNotClicked:hover {
    background-color: var(--secondary-background) !important;
}


/*! Vandaag */

/* html .vandaag-drag-hint {  HIDE DRAG
    display: none !important;
} */

/* Agenda */

html #agenda-widget > div {
    background-color: var(--mooie-bg-color-mid);
    border: none;
    border-radius: 15px;
}

html #agenda-widget > div > img.loading-image {
    display: none !important;
}

html #agenda-widget > div > h3 {
    border: none;
    box-shadow: none;
    text-align: center;
    color: var(--mooie-text-color);
    font-size: 1rem;
}

html #agenda-widget > div > div.content {
    background-color: inherit;
}

html #agenda-widget > div > footer.endlink {
    background-color: inherit;
    border: none;
    box-shadow: none;
    border-radius: 15px;
}

html #agenda-widget > div > footer.endlink > a {
    color: var(--mooie-text-color);
    text-decoration: underline dashed #7f7f7f;
    
}

html #agenda-widget .list {
    border: none;
}

html #agenda-widget .list li a{
    color: var(--mooie-text-color);
}

html #agenda-widget .list li a:hover{
    background-color: var(--mooie-bg-color-hover) !important;
}

html #agenda-widget .list li {
    background-color: var(--mooie-bg-color-mid);
    border-top: none;
}

/* html #agenda-widget .agenda-list li.alert span.time:before {
    color: #1680b0;
    content: "";
    margin: 0;
}

html #agendawidgetlistcontainer .les-bottom .icon-block>.text-icon.icon-only:first-of-type {
    display: none;
}

html #agenda-widget .agenda-list li.alert span.time:after {
    display: none;
} */

html #agendawidgetlistcontainer li > a > div > div.les-info > span.alt-nrblock.ng-scope > i {
    color: var(--mooie-text-color) !important;
}

html #agendawidgetlistcontainer li > a > div > div.icon-block span.agenda-text-icon {
    background-color: var(--mooie-bg-color);
    color: var(--mooie-text-color);
    border: 1px solid var(--mooie-text-color);
}




/* Mededelingen */

html #berichten-widget > div {
    background-color: var(--mooie-bg-color-mid);
    border: none;
    border-radius: 15px;
}

html #berichten-widget > div > img.loading-image {
    display: none !important;
}

html #berichten-widget > div > h3 {
    border: none;
    box-shadow: none;
    text-align: center;
    color: var(--mooie-text-color);
    font-size: 1rem;
}

html #berichten-widget > div > h3 > b {
    color: var(--mooie-text-color);
    font-weight: normal;
    font-size: 1rem;
    font-style: normal;
}

html #berichten-widget > div > div.content {
    background-color: inherit;
}

html #berichten-widget > div > footer.endlink {
    background-color: inherit;
    border: none;
    box-shadow: none;
    border-radius: 15px;
}

html #berichten-widget > div > footer.endlink > a {
    color: var(--mooie-text-color);
    text-decoration: underline dashed #7f7f7f;
    
}

html #berichten-widget .list {
    border: none;
}

html #berichten-widget .list li a{
    color: var(--mooie-text-color);
}

html #berichten-widget .list li a:hover{
    background-color: var(--mooie-bg-color-hover) !important;
}

html #berichten-widget .list li {
    background-color: var(--mooie-bg-color-mid);
    border-top: none;
}


/* Cijfers */

html #cijfers-leerling > div {
    background-color: var(--mooie-bg-color-mid);
    border: none;
    border-radius: 15px;
}


html #cijfers-leerling > div > img.loading-image {
    display: none !important;
}

html #cijfers-leerling > div > h3 {
    border: none;
    box-shadow: none;
    text-align: center;
    color: var(--mooie-text-color);
    font-size: 1rem;
}

html #cijfers-leerling > div > h3 > b {
    color: var(--mooie-text-color);
    font-weight: normal;
    font-size: 1rem;
    font-style: normal;
}

html #cijfers-leerling > div > div.content {
    background-color: inherit;
}

html #cijfers-leerling > div > footer.endlink {
    background-color: inherit;
    border: none;
    box-shadow: none;
    border-radius: 15px;
}

html #cijfers-leerling > div > footer.endlink > a {
    color: var(--mooie-text-color);
    text-decoration: underline dashed #7f7f7f;
    
}

html #cijfers-leerling .list {
    border: none;
}

html #cijfers-leerling .list li a{
    color: var(--mooie-text-color);
}

html #cijfers-leerling .list li a:hover{
    background-color: var(--mooie-bg-color-hover) !important;
}

html #cijfers-leerling .list li {
    background-color: var(--mooie-bg-color-mid);
    border-top: none;
}

html #cijfers-leerling .last-grade {
    color: #fff;
    background-color: var(--primary-background);
}

html #cijfers-leerling .no-data .last-grade {
    background-color: var(--mooie-bg-color-hover);
}

html #cijfers-leerling > div > div > ul.list.arrow-list {
    background-color: var(--mooie-bg-color-mid);
    border: none;
}

/* Notificaties */

html #notificatie-widget > div {
    background-color: var(--mooie-bg-color-mid);
    border: none;
    border-radius: 15px;
}

html #notificatie-widget > div > img.loading-image {
    display: none !important;
}

html #notificatie-widget > div > h3 {
    border: none;
    box-shadow: none;
    text-align: center;
    color: var(--mooie-text-color);
    font-size: 1rem;
}

html #notificatie-widget > div > div.content {
    background-color: inherit;
}

html #notificatie-widget > div > footer.endlink {
    background-color: inherit;
    border: none;
    box-shadow: none;
    border-radius: 15px;
}

html #notificatie-widget > div > footer.endlink > a {
    color: var(--mooie-text-color);
    text-decoration: underline dashed #7f7f7f;
    
}

html #notificatie-widget .list {
    border: none;
}

html #notificatie-widget .list li a{
    color: var(--mooie-text-color);
}

html #notificatie-widget .list li a:hover{
    background-color: var(--mooie-bg-color-hover) !important;
}

html #notificatie-widget .list li {
    background-color: var(--mooie-bg-color-mid);
    border-top: none;
}

/* Edit toggle button */

html #edit-toggle-btn:hover {
    background-color: var(--mooie-bg-color-hover);
}

/* Edit vandaag */

html #vandaag-container > aside > div.content-container {
    border: none;
}

html #idWidgets > div > div > div > div {
    background-color: var(--mooie-bg-color-mid);
    border: none;
    border-radius: 15px;
}

html #idWidgets > div > div > div > div > h3 > b {
    text-align: center;
    color: var(--mooie-text-color);
    font-size: 1rem;
}

html #idWidgets > div > div > div > div > h3 {
    border: none;
    box-shadow: none;
}

html #idWidgets > div > div > div > div > footer.endlink {
    background-color: inherit;
    border: none;
    box-shadow: none;
    border-radius: 15px;
}

html #idWidgets > div > div > div > div > div > ul > li {
    border: none;
    background-color: var(--mooie-bg-color-mid);
    color: var(--mooie-text-color);
}

html #idWidgets > div > div > div > div > div > ul > li:hover {
    border: none !important;
    outline: none !important;
    background-color: var(--mooie-bg-color-hover);
}

html #idWidgets > div > div > div > div > div > div > span::before {
    color: var(--mooie-text-color);
}

html #idWidgets > div > div > div > div > div > div {
    background-color: var(--mooie-bg-color-mid);
    border: none !important;
}

html #idWidgets > div > div > div > div > div > div.drag-over {
    background-color: var(--mooie-bg-color-mid) !important;
}

html body > li.widget-drag-hint {
    color: var(--mooie-text-color);
}

/* Droppable */

#vandaag-container .droppable {
    background-color: var(--mooie-bg-color) !important;
    border: 2px dotted #7f7f7f;
}

#vandaag-container .droppable.drag-over {
    background-color: var(--mooie-bg-color) !important;
    border: 2px solid #7f7f7f;
}


/*! Agenda */

/*? Side panel */

html #idDetails > div > div > div.block {
    background-color: var(--mooie-bg-color-mid);
    border: none;
}

html #idDetails > div > div > div.block > h3 {
    box-shadow: none;
    border: none;
    color: var(--mooie-text-color);
}

html #idDetails > div > div > div.block > div.content {
    background-color: var(--mooie-bg-color-mid);
    border: none;
}

html #idDetails > div > div > div.block > div.content dl {
    background-color: var(--mooie-bg-color-mid);
    border: none;
}

html #idDetails > div > div > div.block > div.content dl dd, html #idDetails > div > div > div.block > div.content dl dt {
    border: none;
    color: var(--mooie-text-color);
}

html #huiswerk-info span, html #huiswerk-info-text {
    color: var(--mooie-text-color);
}

html #afsprakenlijst-container > aside > div.head-bar > ul.tabs {
    border: none;
}

html #afsprakenlijst-container > aside > div.head-bar > ul.tabs > li > a {
    color: var(--mooie-text-color);
}

html #agenda-container > aside > div.head-bar > ul.tabs > li > a {
    color: var(--mooie-text-color);
}


/*? Kalender */
html .k-calendar {
    background-color: var(--mooie-bg-color-mid);
    border: 2px solid var(--mooie-bg-color-mid);
    border-radius: 5px;
}

html .k-calendar > .k-header {
    background-color: var(--mooie-bg-color-mid);
}

html .k-calendar > .k-header > .k-nav-fast {
    color: var(--mooie-text-color);
}

html .k-calendar > .k-content {
    background-color: var(--mooie-bg-color-mid);
}

html .k-calendar thead th {
    background-color: var(--mooie-bg-color-mid);
    color: var(--mooie-text-color);
    font-weight: normal;
}

html .k-calendar tbody .k-other-month {
    opacity: 0.3;
    background: none;
}

html .k-calendar td.range-select {
    background-color: var(--primary-background) !important;
    border-top: none;
    border-bottom: none;
}

html .k-calendar .k-header .k-state-hover {
    background-image: none !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none;
}

html .k-calendar .k-content tbody td.k-state-hover{
    background: var(--mooie-bg-color-hover) !important;
    border-color: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

html .k-calendar .k-content tbody td.k-state-hover a {
    color: var(--mooie-text-color) !important;
    background-image: none;
    background: var(--mooie-bg-color-hover) !important;
}

/*? fancy-select */

html .fancy-select .k-dropdown-wrap.k-state-default {
    background-color: var(--mooie-bg-color-hover);
    color: var(--mooie-text-color);
    border: 1px solid var(--mooie-bg-color-hover);
}

html .fancy-select .k-dropdown-wrap.k-state-active {
    background-color: var(--mooie-bg-color-hover) !important;
    color: var(--mooie-text-color);
    border: 1px solid var(--mooie-bg-color-hover);
}

html .fancy-select .k-dropdown-wrap.k-state-default.k-state-hover {
    background-color: var(--mooie-bg-color-hover) !important;
    color: var(--mooie-text-color) !important;
}

html .fancy-select .k-dropdown-wrap.k-state-default span.k-input {
    color: var(--mooie-text-color);
}

html [id$="-list"].k-list-container.k-popup {
    border: none !important;
}

html [id$="-list"].k-list-container.k-popup > div > ul[id$="_listbox"].k-list {
    box-shadow: none !important;
    border: none !important;
}

html [id$="-list"].k-list-container.k-popup > div > ul[id$="_listbox"].k-list li.k-item {
    background-color: var(--mooie-bg-color-mid) !important;
    color: var(--mooie-text-color) !important;
    border: none !important;
}






/* Agenda- */

html #afsprakenlijst-container > dna-page-header > span {
    color: var(--mooie-text-color);
}

html #afsprakenlijst-container > dna-page-header > dna-button-bar > dna-button:not(:last-child):hover {
    background-color: var(--mooie-bg-color-hover);
}

html #afsprakenlijst-container > section > div {
    background-color: var(--mooie-bg-color);
}

html #afsprakenlijst-container > section > div > div.loading-overlay.ng-isolate-scope {
    background-color: var(--mooie-bg-color);
}

html #afsprakenlijst-container > section > div > div.loading-overlay {
    background-color: var(--mooie-bg-color);
}

html #afsprakenlijst-container > section > div.content-container {
    border: none;
}

html #agenda-container > dna-page-header > span {
    color: var(--mooie-text-color);
}

html #agenda-container > dna-page-header > dna-button-bar > dna-button:not(:last-child):hover {
    background-color: var(--mooie-bg-color-hover);
}

html #agenda-container > section > div {
    background-color: var(--mooie-bg-color);
}

html #agenda-container > section > div > div.loading-overlay.ng-isolate-scope {
    background-color: var(--mooie-bg-color);
}

html #agenda-container > section > div > div.loading-overlay {
    background-color: var(--mooie-bg-color);
}

html #agenda-container > section > div.content-container {
    border: none;
}

html #afsprakenLijst {
    background-color: var(--mooie-bg-color);
    border: none;
    outline: none;
}


/* Afspraak informatie */

html #agenda-lesdashboard-container > section > div {
    border: none;
}

html #agenda-lesdashboard-container > dna-page-header > dna-button-bar > dna-overlay-trigger > dna-button:hover {
    background-color: var(--mooie-bg-color-hover);
}

html #huiswerkOmschrijving {
    background-color: var(--mooie-bg-color-mid);
    color: var(--mooie-text-color);
    border: none;
    border-radius: 15px;
}

html #huiswerkOmschrijving h3 {
    border: none;
    box-shadow: none;
}

html #huiswerkOmschrijving h3 b {
    color: var(--mooie-text-color);
}

html #huiswerkOmschrijving h3 .block-menu {
    border: none;
    display: none; /* hide huiswerk fullscreen */
}

html #huiswerkOmschrijving .attachment-bar {
    border: none;
    box-shadow: none;
}

html #huiswerkOmschrijving .content {
    background-color: var(--mooie-bg-color-mid);
    color: var(--mooie-text-color);
}

html #huiswerkOmschrijving .content p {
    background-color: var(--mooie-bg-color-mid);
    color: var(--mooie-text-color);
}

html #huiswerkOmschrijving footer.endlink {
    background-color: var(--mooie-bg-color-mid);
    border: none;
    box-shadow: none;
    border-radius: 15px;
}

html #agenda-lesdashboard-container > aside > .content-container {
    border: none;
}

html #agenda-lesdashboard-container > aside > .head-bar > ul.tabs {
    border: none;
}

html #agenda-lesdashboard-container > aside > .head-bar > ul.tabs li a {
    color: var(--mooie-text-color);
}

/* Agenda instellingen */

#idWeergave > div > div[data-agenda-instellingen="agenda-instellingen"] > div.block {
    background-color: var(--mooie-bg-color-mid);
    border: none;
    border-radius: 5px;
}

#idWeergave > div > div[data-agenda-instellingen="agenda-instellingen"] > div.block > h3 {
    border: none;
    color: var(--mooie-text-color);
    text-align: center;
    box-shadow: none;
}

#idWeergave > div > div[data-agenda-instellingen="agenda-instellingen"] > div.block > .content > form {
    background-color: var(--mooie-bg-color-mid);
}

#idWeergave > div > div[data-agenda-instellingen="agenda-instellingen"] > div.block > .content > form > div > label {
    color: var(--mooie-text-color);
}


/* Nieuwe afspraak */

html #agenda-afspraak-bewerken-container > section > div {
    border: none;
}

html #agenda-afspraak-bewerken-container > section > div > div.widget.wide.new-appointment-block > fieldset label {
    color: var(--mooie-text-color);
}

html #agenda-afspraak-bewerken-container > section > div > div.widget.wide.new-appointment-block > fieldset .radio input[type=radio]~label {
    background-color: var(--mooie-bg-color-mid);
    border: none;
}

html #agenda-afspraak-bewerken-container > section > div > div.widget.wide.new-appointment-block > fieldset input {
    background-color: var(--mooie-bg-color-mid);
    border: none;
    color: var(--mooie-text-color);
}

html #agenda-afspraak-bewerken-container > section > div > div.widget.wide.new-appointment-block > fieldset  span.k-widget.k-datepicker.k-header.ng-binding > span {
    background-color: var(--mooie-bg-color-mid) !important;
    border: none !important;
}

html #agenda-afspraak-bewerken-container > section > div > div.widget.wide.new-appointment-block > fieldset div > span.check > label > span {
    background-color: var(--mooie-bg-color-hover);
    border: none;
    color: var(--mooie-text-color);
}

html #agenda-afspraak-bewerken-container > section > div > div.widget.wide.new-appointment-block > fieldset > ul > li.multiple-fancy-box span > span {
    background-color: var(--mooie-bg-color-mid) !important;
    border: none;
    color: var(--mooie-text-color);
}


/* Toon selectie */

html #showHuiswerk1 ~ label, html #showHuiswerk2 ~ label {
    background-color: var(--mooie-bg-color-hover);
    color: var(--mooie-text-color);
    border: none;
}

/* Herhalingspatroon */

html #recurrencePatternText {
    color: var(--mooie-text-color);
}


/* Afsprakenlijst */

html #afsprakenLijst > div.k-grid-content > table {
    border: none;
}

html #afsprakenLijst > div.k-grid-content > table tr {
    background-color: var(--mooie-bg-color);
}

html #afsprakenLijst > div.k-grid-content > table tr.k-grouping-row td{
    background-color: var(--mooie-bg-color-mid);
}

html #afsprakenLijst > div.k-grid-content > table tr td {
    background-color: var(--mooie-bg-color);
    border: none;
}

html #afsprakenLijst > div.k-grid-content > table tr td span {
    color: var(--mooie-text-color);
}

html #afsprakenLijst > div.k-grid-content > table tr td.icon-column span {
    background-color: var(--mooie-bg-color);
    color: var(--mooie-text-color);
    border: 1px solid var(--mooie-text-color);
}

html #afsprakenLijst > div.k-grid-content > table tr td .alt-nrblock i {
    color: var(--mooie-text-color) !important;
}