* {
  margin: 0;
  padding: 0;
}

body {
  /* Vars */
  
  --mooie-bg-color: #1F2228;
  --mooie-bg-color-mid: #191C21;
  --mooie-bg-color-hover: #171A1E;
  --mooie-text-color: #fff;
  
  --background-1: #0065A0; /*/ iets lichter dan licht */
  --primary-background: #0E4772; /*/ licht */
  --secondary-background: #023660; /*/ donker */
  --secondary-background-darker: #14212d; /*/ --background-secondary with opacity .2 */
  
  --mid-gray: #7f7f7fff;
  --dark-gray: #3f3f3fff;

  /* Style */

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mooie-bg-color-mid);
  width: 400px;
  height: 330px;
}


.comment {
  color: var(--mid-gray);
}

#main {
  width: 100%;
  height: 100%;
  background-color: var(--mooie-bg-color-mid);
  padding: 15px;
}

#main > label {
  display: block;
  width: calc(100% - 30px);
  margin: 15px 15px 0px 15px;
  color: var(--mooie-text-color);
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

#main > label:last-of-type {
  margin: 15px;
}

#advancedSettingsA {
  margin: 15px;
  font-size: 16px;
  color: var(--dark-gray);
  cursor: pointer;
  text-decoration: underline dashed var(--dark-gray) 1px;
  user-select: none;
}

#main > #advancedSettings > label {
  display: block;
  width: calc(100% - 30px);
  margin: 15px 15px 0px 15px;
  color: var(--mid-gray);
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}


/*~ New radio */

.radioButtons {
  height: .7ch;
  width: fit-content;
  display: inline;
  float: right;
}

.radioButtons label {
  width: 75px;
  display: inline;
  background-color: var(--mooie-bg-color-mid);
  border: 1px solid var(--mid-gray);
  margin-left: -23px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 0px;
  opacity: .35;
  transition: ease .5s;
}

.radioButtons label:nth-of-type(1) {
  border-radius: 15px 0px 0px 15px;
}

.radioButtons label:nth-last-of-type(1) {
  border-radius: 0px 15px 15px 0px;
}

.radioButtons label:hover {
  opacity: .7;
  transition: ease .5s;
}

.radioButtons input[type="radio"]:checked+label {
  opacity: 1;
  transition: ease .5s;
}

input[type="radio"] {
  visibility: hidden;
}

/*~ Icons */

label[for="dark"]::before {
  content: "\f186";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}

label[for="light"]::before {
  content: "\f185";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
}


/*~ Toggle Switch */

.switch {
  position: relative;
  display: block;
  width: 28px;
  height: 16px;
  top: 3px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-gray);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 16px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: var(--mooie-text-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--background-1);
}

input:focus + .slider {
  outline: 1px solid var(--mooie-text-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}


/*~ Text input */

.textInput {
  float: right;
  background-color: var(--mooie-bg-color-mid);
  border: none;
  border-bottom: 1px solid var(--dark-gray);
  color: var(--mooie-text-color);
  width: min(50%, 250px);
}

.textInput:focus {
  border-bottom: 1px solid var(--mooie-text-color);
  outline: none;
}



/*~ Number input */

.resetInput {
  font-family: Lucida Sans Unicode;
  font-weight: 900;
  margin-right: 1ch;
  color: var(--mid-gray);
  cursor: pointer;
  user-select: none;
}

.inputContainer {
  display: inline-flex;
  align-items: center;
  float: right;
}

.inputContainer label {
  margin-left: 1ch;
  color: var(--mid-gray);
  user-select: none;
  cursor: pointer;
}

.numberInput {
  background-color: var(--mooie-bg-color-mid);
  border: none;
  border-bottom: 1px solid var(--dark-gray);
  color: var(--mooie-text-color);
  width: 4ch;
  text-align: right;
}

.numberInput:focus {
  border-bottom: 1px solid var(--mooie-text-color);
  outline: none;
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
