body {
    /* Vars */

    --mooie-bg-color: #ffffff;
    --mooie-bg-color-mid: #eeeeee;
    --mooie-bg-color-hover: #d2d8db;
    --mooie-text-color: #000;
    
    --background-1: #0076ba; /*iets lichter dan licht*/
    --primary-background: #1f97f9; /*licht*/
    --secondary-background: #0683ea; /*donker*/
    --secondary-background-darker: #cde6fa; /*donker*/
    
    --mid-gray: #7f7f7fff;
    --dark-gray: #bfbfbfff;
}
